<div id="wrapper">
    <!-- Navigation -->
    <header></header>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
    <div id="page-wrapper" style="min-height: 500px;">
      <div ui-view>
        <div class="row" style="padding: 15%;">
          <div class="jumbotron alert alert-danger">
            <h1>4<i class="fa fa-frown-o fa-1x" aria-hidden="true"></i>4</h1>
            <h2 class="lead">Oops!  This is not the web page you are looking for.</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!--<div ui-view></div>-->
