<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="root.top">
          {{ConstatnsConfig.SITE_NAME}}
          <small style="margin-left: 1em; font-size: 70%; color: #fbb;" ng-if="VariableConfig.envName!=ConstatnsConfig.ENV_NAME[0]">is launched on {{VariableConfig.envName}}</small>
        </a>
    </div>
    <headmenu></headmenu>
    <sidebar></sidebar>
</nav>
