<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron alert alert-danger" style="text-align: center; margin: 4em auto; max-width: 580px;">
        <h1 style="letter-spacing: .4em;">4<i class="fa fa-frown-o fa-1x" aria-hidden="true"></i>4</h1>
        <h2 class="lead">Oops!  This is not the web page you are looking for.</h2>
        <div class="pull-right">
          <a class="btn btn-danger btn-sm" ui-sref="root.top">
            <i class="fa fa-home" aria-hidden="true"></i> go home
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
  </div>
  <!-- /.row -->
</div>
